// Section Header
.effects-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: $overlay-medium;
  border: $border-groove;
  font-weight: bold;
  > * {
    font-size: var(--font-size-14);
    text-align: center;
  }
  .effect-name {
    font-weight: bold;
    padding-left: 5px;
    text-align: left;
    display: flex;
    // font-size: 16px;
  }
}

// -----------------------------------------
// Items Lists
// -----------------------------------------

.effects-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: $c-tan;

  // Child lists
  .effect-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // Item Name
  .effect-name {
    flex: 2;
    margin: 0;
    overflow: hidden;
    font-size: var(--font-size-13);
    text-align: left;
    align-items: center;
    display: flex;
    h3, h4 {
      margin: 0;
      white-space: nowrap;
      overflow-x: hidden;
    }
  }

  // Control Buttons
  .effect-controls {
    display: flex;
    flex: 0 0 100px;
    justify-content: flex-end;
    a {
      font-size: var(--font-size-12);
      text-align: center;
      margin: 0 6px;
    }
  }

  // Individual Item
  .effect {
    align-items: center;
    padding: 0 2px; // to align with the header border
    border-bottom: 1px solid $c-faint;
    &:last-child { border-bottom: none; }
    .effect-name {
      color: $c-dark;
      .effect-image {
        flex: 0 0 30px;
        height: 30px;
        background-size: 30px;
        border: none;
        margin-right: 5px;
      }
    }
  }

  .effect-prop {
    text-align: center;
    border-left: 1px solid $c-faint;
    border-right: 1px solid $c-faint;
    font-size: var(--font-size-12);
  }

  // Section Header
  .effects-header {
    height: 28px;
    margin: 2px 0;
    padding: 0;
    align-items: center;
    background: $overlay-medium;
    border: $border-groove;
    font-weight: bold;
    > * {
      font-size: var(--font-size-12);
      text-align: center;
    }
    .effect-name {
      padding-left: 5px;
      text-align: left;
      // font-size: 16px;
    }
  }
}

// Example style for DieRpg (can be removed if not needed).
.effect-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}

.effects .item {
  .effect-source,
  .effect-duration,
  .effect-controls {
    text-align: center;
    border-left: 1px solid $c-faint;
    border-right: 1px solid $c-faint;
    font-size: var(--font-size-12);
  }

  .effect-controls {
    border: none;
  }
}
