.item-form {
	font-family: $font-primary;
}

.window-content {
	--scroll-margin: 0.75rem;
	padding-right: var(--scroll-margin) !important;
	overflow: hidden auto;
}

.left-col {
	flex: 0 0 33%;
	margin-right: 10px;
}

.right-col {
	flex: 1;
}

.sidebar {
	flex: 0 0 300px;
}

.sheet-header {
	flex: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-bottom: 10px;
	border-bottom: solid 1px white;

	.header-fields {
		flex: 1;
	}

  .class-dice {
    display: flex;
	gap: 10px;
    
    .class-dice-description{
      display: flex;
      flex-direction: column;

	  p {
		margin: 0;
	  }

	  h3 {
		margin: 0;
	  }
    }
    
    .class-dice-img{
      flex: 0 0 75px;
    }
  }
}

.profile-img {
	flex: 0 0 100px;
	height: 100px;
	margin-right: 10px;
}

.sheet-tabs {
	flex: 0;
}

.sheet-body,
.sheet-body .tab,
.sheet-body .tab .editor {
	height: 100%;
}

.tab.biography {
	flex: 1;

	.editor {
		height: 100%;
	}
}

.tox {
	.tox-editor-container {
		background: $c-white;
	}

	.tox-edit-area {
		padding: 0 8px;
	}
}
