.resources {
  margin: 10px 0 0 0;
}

.resource-label {
  font-weight: normal;
}

.stat-score, .resource-score {
  text-align: center;
  font-weight: normal;
}

.stats {
  margin: 10px 0 0 0;
  gap: 10px;
}

.stat {
  margin-bottom: 2px;
}

.stat-score {
  flex: 0 0 32px;
}