@font-face {
	font-family: 'Beiruti';
	src: url('../assets/fonts/Beiruti/Beiruti-VariableFont_wght.ttf') format('truetype');
	font-weight: 100 900;
	font-display: swap;
}

$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$font-heading: 'Beiruti', 'Roboto', sans-serif;