{{!-- Paragon Advancements Tab --}}
<section class="paragon-advancements">
  <h3>{{localize 'DIE_RPG.Item.Paragon.FIELDS.advancements.label'}}</h3>
  <p class="hint">This is where advancement editing will go. For now, advancements can be edited via the advancement accordion on character sheets.</p>

  {{!-- TODO: Add advancement pool editor here --}}
  {{!-- TODO: Add advancement map assignment editor here --}}

  <p class="notice">
    <i class="fas fa-info-circle"></i>
    Advanced editing coming soon. Current advancements are managed through the character sheet.
  </p>
</section>
