<header class="sheet-header">
	<div class="header-top flexrow">

		<div class="left-col flexcol">
			<h1 class="class-name">The Dictator</h1>
			<div>
				<label class="name-label">Your Name:</label>
				<input
					class="document-name"
					name="name"
					type="text"
					value="{{actor.name}}"
					placeholder="Name"
				/>
			</div>
		</div>

		<div class="right-col class-dice">
			<div class="class-dice-description">
				<h3 class="class-dice-title">Class Dice: D4</h3>
				<p>
					A LITTLE EMOTIONAL NUDGE
				</p>
				<p>
					When you have your D4 and could get an edge from subtle emotional
					manipulation, roll it as part of your dice pool and increase any other
					dice’s result by its value
				</p>
			</div>
			<img
				class="class-dice-img"
				src="systems/die-rpg/assets/icons/d4-exploded.svg"
				width="100"
			/>
		</div>
	</div>
</header>