<header class="sheet-header">
	<div class="header-top flexrow">

		<div class="left-col flexcol">
			<h1>Class Name</h1>
			<input
				class="document-name"
				name="name"
				type="text"
				value="{{actor.name}}"
				placeholder="Name"
			/>
		</div>

		<div class="right-col class-dice">
			<div class="class-dice-description">
				<h3>Class Dice: D6</h3>
				<p>
					You can add your D6 to your dice pool any time you’re acting in a foolish,
					daring or cavalier fashion. In any dice pool which includes the Fool’s D6,
					you gain:
				</p>
				<p>
					<b>Special:</b>
					Roll another D6 and add it to the present dice pool.
				</p>
			</div>
			<img class="class-dice-img" src="systems/die-rpg/assets/icons/d6-exploded.svg" width="100" />
		</div>
	</div>
</header>