{{! Paragon Tab }}
<section
  class='tab paragon {{tab.cssClass}}'
  data-group='primary'
  data-tab='paragon'
>
	{{#if paragonItem}}
		<div class="paragon-tab-content">
			{{! Class Abilities Section - Dynamic Fields from Paragon }}
			{{#if paragonItem.system.classAbilities.fields.length}}
				<div class="class-abilities-section">
					<h3>{{localize "DIE_RPG.UI.Headers.ClassAbilities"}}</h3>
					<div class="class-abilities-form">
						{{#each paragonItem.system.classAbilities.fields as |field|}}
							{{> "systems/die-rpg/templates/partials/dynamic-field.hbs"
								field=field
								value=(lookup @root.actor.system.paragon.classAbilityData field.key)
								enrichedValue=(lookup @root.enrichedClassAbilityData field.key)
								path=(concat "system.paragon.classAbilityData." field.key)
								editable=@root.editable
								actor=@root.actor
								paragonItem=@root.paragonItem}}
						{{/each}}
					</div>
				</div>
			{{/if}}
		</div>
	{{else}}
		<div class="no-paragon-message">
			<p>{{localize "DIE_RPG.UI.EmptyStates.SelectParagonForClassInfo"}}</p>
		</div>
	{{/if}}
</section>
