<div class="sidebar flexcol">
	<img
		class="profile-img"
		src="{{actor.img}}"
		data-edit="img"
		data-action="onEditImage"
		title="{{actor.name}}"
		height="100"
		width="100"
	/>

	<div class="class-description">
		{{#if paragonItem}}
			{{{paragonItem.system.coreNature}}}
		{{else}}
			<p>Select a paragon to view its description.</p>
		{{/if}}
	</div>
</div>