<div class="sidebar flexrow">
	<div class="left-col flexcol">
		<img
			class="profile-img"
			src="{{actor.img}}"
			data-edit="img"
			data-action="onEditImage"
			title="{{actor.name}}"
			height="100"
			width="100"
		/>

		<div class="class-description">
			<p>
				You read a sad story. You cry. Do you think that’s sinister, as if someone
				has artificially taken over your emotions? Of course not. That’s just what
				art is.
			</p>
			<p>
				Anyone who’s ever met a Dictator would disagree.
			</p>
			<p>
				By performing, they alter other people’s emotional states. Dictators play
				people like a musician plays a harp. They can pluck the strings. They can
				snap them.
			</p>
			<p>
				They’re like bards, if everyone was fucking petrified of bards.
			</p>
		</div>
	</div>
</div>