<header class="sheet-header">
	<div class="flexcol">
		<div class="document-name">
			<input 
        name="name" 
        type="text" 
        value="{{item.name}}" 
        placeholder="Name" 
      />
		</div>
		<img
			class="profile-img"
			src="{{item.img}}"
			data-edit="img"
			data-action="onEditImage"
			title="{{item.name}}"
		/>
	</div>
</header>