{{!-- Main Body Template for Gear Items --}}
<div class="sheet-body die-rpg item gear"> {{!-- Add classes for styling/scrolling --}}

  {{!-- Render Header --}}
  {{> "systems/die-rpg/templates/item/header.hbs"}}

  {{!-- Render Gear Attributes, explicitly passing config --}}
  {{> "systems/die-rpg/templates/item/attribute-parts/gear.hbs" config=config}}

  {{!-- Render Description --}}
  {{> "systems/die-rpg/templates/item/description.hbs"}}

  {{!-- Render Effects --}}
  {{> "systems/die-rpg/templates/item/effects.hbs"}}

</div>