{{!-- Main Body Template for Class Items --}}
<div class="sheet-body die-rpg item class"> {{!-- Add classes for styling/scrolling --}}

  {{!-- Render Header --}}
  

  {{!-- Render Class Attributes, explicitly passing config --}}
  {{> "systems/die-rpg/templates/item/attribute-parts/class.hbs" config=config}}

  {{!-- Render Description --}}
  {{> "systems/die-rpg/templates/item/description.hbs" enrichedDescription=enrichedDescription}}

  {{!-- Render Effects --}}
  {{> "systems/die-rpg/templates/item/effects.hbs" effects=effects}}

</div>
