{{!-- Main Body Template for Ability Items --}}
<div class="sheet-body die-rpg item ability"> {{!-- Add classes for styling/scrolling --}}

  {{!-- Render Header --}}
  {{> "systems/die-rpg/templates/item/header.hbs"}}

  {{!-- Render Ability Attributes, explicitly passing config --}}
  {{> "systems/die-rpg/templates/item/attribute-parts/ability.hbs" config=config}}

  {{!-- Render Description --}}
  {{> "systems/die-rpg/templates/item/description.hbs"}}

  {{!-- Render Effects --}}
  {{> "systems/die-rpg/templates/item/effects.hbs"}}

</div>