{{!-- Main Body Template for Persona Items --}}
<div class="sheet-body die-rpg item persona"> {{!-- Add classes for styling/scrolling --}}

  {{!-- Render Header --}}
  {{> "systems/die-rpg/templates/item/header.hbs"}}

  {{!-- Render Persona Attributes (Assuming a template exists or will be created) --}}
  {{!-- {{> "systems/die-rpg/templates/item/attribute-parts/persona.hbs"}} --}}
  {{!-- If no specific attributes, remove the line above --}}
  <p><i>(Persona attributes template TBD)</i></p> {{!-- Placeholder --}}


  {{!-- Render Description --}}
  {{> "systems/die-rpg/templates/item/description.hbs"}}

  {{!-- Effects are intentionally omitted for Persona items --}}

</div>