{{!-- Main Body Template for Feature Items --}}
<div class="sheet-body die-rpg item feature"> {{!-- Add classes for styling/scrolling --}}

  {{!-- Render Header --}}
  {{> "systems/die-rpg/templates/item/header.hbs"}}

  {{!-- Render Feature Attributes, explicitly passing config --}}
  {{> "systems/die-rpg/templates/item/attribute-parts/feature.hbs" config=config}}

  {{!-- Render Description --}}
  {{> "systems/die-rpg/templates/item/description.hbs"}}

  {{!-- Render Effects --}}
  {{> "systems/die-rpg/templates/item/effects.hbs"}}

</div>