<div class="sidebar flexcol">
	<h3>{{localize "DIE_RPG.UI.Headers.Sidebar"}}</h3>
	{{#if (eq item.type "equipment")}}
		<p>
			{{localize "DIE_RPG.UI.ItemDetails.equipment"}}
		</p>
	{{else if (eq item.type "god")}}
		<p>
			{{localize "DIE_RPG.UI.ItemDetails.god"}}
		</p>
	{{/if}}
</div>