{{!-- Spell Details Tab --}}
<section class="tab spellDetails {{tab.cssClass}}" data-group="primary" data-tab="spellDetails" data-subtype="{{document.type}}">
  <p class="info">Spell details are primarily in the Description tab. Special abilities (activated on 6+ rolls) can be configured in the Specials tab.</p>
</section>
